* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;  
}

tr:nth-child(even) {background-color: #f2f2f2;}
