* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin: 50px 12.5%;
    border-collapse: collapse;
    width: 75%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}