doctype html
html
    head
        include ./../prefabs/head.pug
    body
        include ./../prefabs/header.pug

        form(action="/users/?_method=POST", method="post")
            label firstname
            input(type="text", name="firstname")
            br
            label lastname
            input(type="text", name="lastname")
            br
            label username
            input(type="text", name="username")
            br
            label password
            input(type="text", name="password")
            br
            label email
            input(type="text", name="email")
            br
            input#submit(type="submit", value="envoyer")