doctype html
html
    head
        title add todolist
        style
            include ./../style.css
    body
        form(action="/todos/?_method=POST", method="post")
            label message
            input(type="text", name="message")
            br
            label completion
            input(type="text", name="completion")
            br
            label user_id
            input(type="text", name="user_id")
            br
            input#submit(type="submit", value="envoyer")