doctype html
html
    head
        include ./../prefabs/head.pug
    body
        include ./../prefabs/header.pug

        form(action="/todos/?_method=POST", method="post")
            label message
            input(type="text", name="message")
            br
            label completion
            input(type="text", name="completion")
            br
            label user_id
            input(type="text", name="user_id")
            br
            input#submit(type="submit", value="envoyer")