doctype html
html
    head
        include ./../prefabs/head.pug
    body       
        include ./../prefabs/header.pug

        form(action="/todos/"+id+"/?_method=PUT", method="post")
            label message
            input(type="text", name="message")
            br
            label completion
            input(type="text", name="completion")
            br
            input#submit(type="submit", value="envoyer")