doctype html
html
    head
        include ./../prefabs/head.pug
    body
        include ./../prefabs/header.pug

        table
            tr
                th message
                th completion
                th created at
                th last update
                th user_id
            
                - var values = Todolist
                
                if (values.length > 1)
                    each todos in values
                        tr
                            each val, index in todos
                                td= val 
                else
                    tr
                        each todos in values
                            td= todos